
body {
    font-family:"Open sans", sans-serif;
}

/* <tutorial> */

.tutorial{  font-size: 16px; }

.tutorial p{ margin-bottom: 30px; line-height: 24px; }

.tutorial h2{ color: #00abc5; margin-bottom: 30px; position: relative; display: block; }

.tutorial h2:after { content: ''; position: absolute; width: 65px; height: 1px; bottom: -10px; left: 0; margin: auto; background-color: #00abc5; }

.blue-header{  background: url(../images/bg_blue_alt.jpg) no-repeat; display: flex; flex-wrap: wrap;  padding: 100px 0; margin-bottom: 50px; }

.blue-header h1{ color: #fff; }

.blue-header h1 span{  font-weight: bold; }

.blue-header h3{ color: #fff;}

.sidebar {}

.sidebar ul{ list-style: none; margin-top: 30px; }

.sidebar li{ line-height: 50px;display: block;border-left: 10px solid #fff;margin-bottom: 10px; }

.sidebar li.active{ border-left: 10px solid  #00abc5; }

.sidebar li.active a, .sidebar li a:hover{ color: #00abc5; }

.sidebar a{ color: #666;padding: 0 20px;display: block;font-size: 18px; cursor: pointer; text-decoration: none }


/* </tutorial> */


.noticias{
    background: #eee;
    padding: 30px 0;
}

.noticias .module-block{
    background: #fff;
    color: #000;
    border: 1px solid #ccc;  
}

.noticias .module-block .module-block-title {
    font-size: 25px;
    font-weight: normal;
    color: #00abc5;
}

.noticias .module-block .module-block-description {
    color: #777;
    font-size: 17px;
}

.noticias .module-block .module-block-graph-area {
    padding:30px;
}

.noticias .module-block .module-block-link {
    color: gray;
    text-align: left;
    /* float: left; */
    left: 20px;
}

.transparencia .module-wrapper{
    /* padding: 0; */
}
.transparencia .module-block{
    display: block;
}

.transparencia .module-block .module-block-title {
    display: block;
    clear: both;
    padding: 30px;
    font-size: 10px;
    font-weight:400;
}
.transparencia .module-block .module-block-title span{
    font-size: 18px;
    margin-right:10px;
    display: inline-block;
}
.transparencia .module-block .module-block-title i{
    font-size: 25px;
    margin-right: 8px;
    display: inline-block;
}
.transparencia .module-block .carousel{
    float: left;
    width: 100%;
    margin: 0;
    top: 0;
    position: relative;
    opacity: 1;
}
.transparencia .module-block .carousel-indicators{
    margin-left: -35px;
    left: 50%;
    width: 70px;
    position: absolute;
}
.transparencia .module-block .carousel-inner{
    overflow: visible;
    float: left;
    top: 0;
    position: relative;
    padding: 0px 30px;
}
.transparencia .module-block .carousel-inner>.item{
    position: relative;
}

.transparencia .module-block .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    text-shadow: none;
    color: #fff;
    text-align: left;
    font-size: 16px;
    padding-top: 0;
}

.transparencia .module-block .carousel-caption .numero{
    font-weight: bold;
    font-size: 30px;
    clear: both;
    width: 100%;
    float: left;
}

.transparencia .module-block .carousel-caption .icone{
    font-size: 70px;
    float: right;
    margin-top: -20px;
}

.transparencia .module-block .module-block-link{
    left: 20px;
}


.lista-eventos{
    display: block;
    float: left;
    width: 100%
}

.lista-eventos h2{
  color: #f0b21d;  
}

.lista-eventos .evento {
    background: #eee;
    padding: 20px 30px;
    margin-bottom: 10px;
}

.lista-eventos .data {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.lista-eventos .nome {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #00abc5;
}

.lista-eventos .vermais{
    background: #00abc5;
    color: #fff;
    float: right;
    padding: 7px 20px;
    margin: 50px 15px;
}

.footer{
    background: #333;
    color: #fff;
    padding: 50px 0 0;
    font-size: 40px;
}

.footer h2{
    color: #f0b21d;
    line-height: 14px;
    margin: 0;
}

.footer .copyright{
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 30px 0;
}

.footer .copyright *{
    font-size: 12px;
    color: #eee;
}


.cadernos .module-block-title{
    font-size: 27px;
    font-weight: normal;
    max-width: 100%;
}

.cadernos .module-block-title i{
    font-size: 40px;
}

.cadernos .module-block {
    width: 100%;
    display: block;
}

.module-block-description {
    color: #fff;
    font-size: 17px;
}

.cadernos .module-block .numero {
    font-size: 32px;
    font-weight: bold;
}

.dados--estatisticas{
    background: #00abc5 url(../images/bg_blue.jpg) no-repeat;
    background-size: cover;
    padding: 50px 0;
    margin-bottom: 30px;
}
.dados--estatisticas .lista--dados{
    background: #fff;
    color: #999;
    padding: 30px;
    border-radius: 4px;
    border: 2px solid #eee;
    margin-bottom: 10px;
}
.dados--estatisticas .lista--dados{
    background: #fff;
    color: #999;
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid #eee;
    margin-bottom: 10px;
    font-size: 18px;
}
.dados--estatisticas .titulo{
    color: #00abc5;
    font-size: 30px;
    line-height: 70px;
}
.dados--estatisticas .inpi{
    background: #00abc5;
    color: #fff;
    font-size: 18px;
    padding: 7px;
    margin: 0 10px;
}
.dados--estatisticas .vermais{
    color: #c7c7c7;
    font-size: 50px;
    float: right;
}

.dados--estatisticas .vertodos{
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 30px;
}

.dados--estatisticas .vertodos a{
    color: #fff;
    font-size: 20px;
    background: #b5d865;
    text-transform: uppercase;
    padding: 20px 40px;
    text-align: center;
}

.registos .module-block-title{
    font-weight: 100;
    color: #00abc5;
    font-size: 26px;
    text-align: center;
    max-width: 100%;
}

.registos .module-block-description{
    font-size: 14px;
    color: #333;
}

h3.module-section-description {
    font-size: 20px;
    font-weight: 100;
    color: #FFF;
    line-height: 25px;
}

.cta-box {
    margin:auto;
}

.noticias .cta-box {
    margin-top:100px;
}
.cta-box a {
    border-radius:0;
    border:none;
    margin: auto;
    display: block;
    width: 150px;
    padding: 10px;
    background:#00abc5;
}

.cta-box a:hover {
    background:#00abc5;
    opacity:0.8;
}


.embedGraph {
    width:100%;
    height:auto;
}




/* modules */


.othergreen-bg {
    background: #6fa55e;
}

.purple-bg {
    background-color: #a241ba; }

.purple-txt {
    color: #a241ba; }
.purple-txt::after {
    background-color: #a241ba; }

.red-bg {
    background-color: #b63225; }

.red-txt {
    color: #b63225; }
.red-txt::after {
    background-color: #b63225; }

.yellow-bg {
    background-color: #f0b21d; }

.yellow-txt {
    color: #f0b21d; }
.yellow-txt::after {
    background-color: #f0b21d; }

.blue-bg {
    background-color: #00abc5; }

.blue-txt {
    color: #00abc5; }
.blue-txt::after {
    background-color: #00abc5; }

.green-bg {
    background-color: #0dcea9; }

.green-txt {
    color: #0dcea9; }
.green-txt::after {
    background-color: #0dcea9; }

.white-bg {
    background-color: #ffffff; }

.white-txt {
    color: #ffffff; }
.white-txt::after {
    background-color: #ffffff; }

.no-padding {
    padding: 0; }

.icon-large {
    font-size: 1.8em; }

/* SIMPLE MODULE BLOCK */
.module-grid {
    margin: 40px 0;
    }
.module-grid .module-wrapper {
    padding: 10px; }
.module-grid > .module-wrapper {
    margin-bottom: 40px; }

.module-block {
    position: relative;
    float: none;
    display: table-cell;
    vertical-align: top; }
.module-block.two-rows {
    height: 442px; }
@media all and (max-width: 1200px) {
    .module-block.two-rows {
        height: 498px; } }
@media all and (max-width: 990px) {
    .module-block.two-rows {
        height: auto; } }
.module-block-title {
    padding: 20px;
    font-size: 0.85em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-top: 0;
    max-width: 80%;
    }

.module-block-description {
    padding: 0 20px 20px;
    font-size: 14px;
    margin-bottom: 40px;
    }
.module-block-link {
    color: rgba(255, 255, 255, 0.64);
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 700;
    text-align: left;
    position: relative;
    bottom: 15px;
    /* right: 20px; */
    /* width: 100%; */
    }
.module-block-link i {
    font-size: 2em;
    margin-left: 10px;
    vertical-align: middle; }
.module-block-link:hover {
    color: #fff;
    text-decoration: underline; }

.module-section-title {
    font-size: 2.4em;
    font-weight: 200;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    }
.module-section-title::after {
    content: '';
    position: absolute;
    width: 7%;
    min-width: 80px;
    height: 1px;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto; }

.module-section-description {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 40px; }

.module-background {
    padding: 20px 0;
    background: url(../images/bg.jpg) center no-repeat;
    background-size: cover;
    min-height: 520px;
    margin-bottom: 40px; }
.module-background .module-section-description {
    font-size: 1.4em;
    margin-bottom: 60px; }
.module-background .module-section {
    color: #fff; }
.module-background .module-section .icon i {
    color: #fff;
    font-size: 2.4em; }
.module-background .module-section h2 {
    font-size: 1.8em;
    color: inherit;
    margin-bottom: 20px; }
.module-background .module-section > p {
    font-size: 1em;
    color: inherit;
    margin: 10px auto;
    max-width: 75%; }
.module-background .module-section .module-c2a {
    margin-bottom: 40px;
    margin-top: 40px; }
.module-background .module-section .module-c2a a {
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    padding: 10px; }
.module-background .module-section .module-c2a a:hover {
    background-color: #0a9e82;
    text-decoration: none; }
